/*--------------------------------------------------------------------------------------------*/
/*------------------------------------- ESTILOS PAGINA ROLES -------------------------------*/
/*--------------------------------------------------------------------------------------------*/

#Bar_Title_Principal
{
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    float: right;
    position: relative;
    bottom: 225px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 830px;
    font-weight: bold;
    border-radius: 5px;
}

#DIV_Consuta_Rol, #DIV_Crear_Rol, #DIV_Modificar_Rol, #DIV_Eliminar_Rol
{
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

#DIV_Consuta_Rol:hover, #DIV_Crear_Rol:hover, #DIV_Modificar_Rol:hover, #DIV_Eliminar_Rol:hover
{
    background: -webkit-linear-gradient(#cc6868, #7f4b4b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cc6868, #7f4b4b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cc6868, #7f4b4b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cc6868, #7f4b4b); /* Standard syntax (must be last) */
    color: #000000;
}

.N_search, .N_create, .N_update, .N_delete
{
    display: none;
}

.I_search, .I_create, .I_update, .I_delete
{
    display: block;
}

#DIV_Consuta_Rol:hover .N_search
{
    display: block;
}

#DIV_Consuta_Rol:hover .I_search
{
    display: none;
}

#DIV_Crear_Rol:hover .N_create
{
    display: block;
}

#DIV_Crear_Rol:hover .I_create
{
    display: none;
}

#DIV_Modificar_Rol:hover .N_update
{
    display: block;
}

#DIV_Modificar_Rol:hover .I_update
{
    display: none;
}

#DIV_Eliminar_Rol:hover .N_delete
{
    display: block;
}

#DIV_Eliminar_Rol:hover .I_delete
{
    display: none;
}

#Bar_Title_Rol
{
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    float: right;
    position: relative;
    bottom: 225px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 830px;
    font-weight: bold;
    border-radius: 5px;
}

#block_search_Rol
{
    border: solid #E8E8F7;
    padding-left: 100px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
}

#Block_Insert_Rol
{
    border: solid #E8E8F7;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
}

.BtnRol
{
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: White;
    background: -webkit-linear-gradient(#500104, #692128); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#500104, #692128); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#500104, #692128); /* For Firefox 3.6 to 15 */
    background: inear-gradient(#500104, #692128); /* Standard syntax (must be last) */
    color: White;
    width: 110px;
}

.BtnRol:hover
{
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: White;
    background: -webkit-linear-gradient(#2b0103, #350005); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2b0103, #350005); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2b0103, #350005); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2b0103, #350005); /* Standard syntax (must be last) */
    color: White;
    width: 110px;
}

.SelectRol
{
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: White;
    background: -webkit-linear-gradient(#580105, #732327); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#580105, #732327); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#580105, #732327); /* For Firefox 3.6 to 15 */
    background: inear-gradient(#580105, #732327); /* Standard syntax (must be last) */
    color: White;
    width: 200px;
}

.SelectRol option
{
    background: #2b0103;
    color: White;
    border-radius: 7px;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
}

.ui-widget-header
{
    border: 1px solid #ff0000;
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 1px solid #ff0000;
    background: -webkit-linear-gradient(#ff0000, #8a0404); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff0000, #8a0404); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff0000, #8a0404); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff0000, #8a0404); /* Standard syntax (must be last) */
    color: White;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
}

.ui-widget-content
{
    background: rgba(20,20,20,0.9);
    border: 1px solid #ff0000;
}
