@font-face
{
 font-family: 'ZEROHOUR';
 src: url('/images/ZEROHOUR.TTF');
}

/*----------------------- TITULO ---------------------------*/
/*personalizacion del titulo*/
#titulo_login
{
    padding-bottom: 8px;
    padding-top: 8px;
    color: #ffffff;
    font-size: 50px;
    font-family: 'ZEROHOUR';
}

/*personalizacion del fondo del titulo*/
#Container_title
{
    border-color: blue;
    background: -webkit-linear-gradient(#002e52, #030608); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002e52, #030608); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002e52, #030608); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002e52, #030608); /* Standard syntax (must be last) */
    border-radius: 7px;
    padding-left: 20px;
}
/*personalizacion del fondo del Pie de pagina*/
#Footer
{
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 25px;
    color: #ffffff;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
    border-color: blue;
    background: -webkit-linear-gradient(#002e52, #030608); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002e52, #030608); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002e52, #030608); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002e52, #030608); /* Standard syntax (must be last) */
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

/*personalizacion de la pagina*/
#form1
{
    aling-items: center;
    justify-content: center;
}

#page
{
    position: relative;
    border: solid #E8E8F7;
    height: 490px;
    width: 85%;
    border-radius: 7px;
}

#login
{
    float: right;
    background: -webkit-linear-gradient(#002e52, #030608); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002e52, #030608); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002e52, #030608); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002e52, #030608); /* Standard syntax (must be last) */
    border-radius: 7px;
    padding: 15px;
    margin-top: 50px;
}

#Container_Carrusel
{
    position: absolute;
}

#TxtPassword, #TxtUser
{
    color: #002e52;
    width: 220px;
}

#TUser, #TPass, #TBoton
{
    height: 50px;
}

#TBoton
{
    text-align: center;
}

.ui-widget-header
{
    border: 1px solid #002e52;
    background: -webkit-linear-gradient(#002e52, #030608); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002e52, #030608); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002e52, #030608); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002e52, #030608); /* Standard syntax (must be last) */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 1px solid #002e52;
    background: -webkit-linear-gradient(#002e52, #030608); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002e52, #030608); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002e52, #030608); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002e52, #030608); /* Standard syntax (must be last) */
    color: White;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
}

.ui-widget-content
{
    background: rgba(20,20,20,0.9);
    border: 1px solid #002e52;
}

.BtnLogin
{
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: White;
    background: -webkit-linear-gradient(#003f71, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#003f71, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#003f71, #000000); /* For Firefox 3.6 to 15 */
    background: inear-gradient(#003f71, #000000); /* Standard syntax (must be last) */
    color: White;
    width: 110px;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
}

.BtnLogin:hover
{
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: White;
    background: -webkit-linear-gradient(#182031, #102735); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#182031, #102735); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#182031, #102735); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#182031, #102735); /* Standard syntax (must be last) */
    color: White;
    width: 110px;
    font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
}

.BtnLogin[disabled=disabled], .BtnLogin:disabled
{
    padding: 5px 2px 5px 2px;
    border-radius: 7px;
    border-color: #999;
    background: -webkit-linear-gradient(#102735, #071b29); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#102735, #071b29); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#102735, #071b29); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#102735, #071b29); /* Standard syntax (must be last) */
    color: #999;
}

.ui-dialog
{
    z-index: 1000 !important;
}
